/*
Theme Name: Mizban24
Author: RedGraphic
Author URI: http://www.RedGraphic.ir
Version: 1.0
*/

@font-face{
    font-family:yekan;
    font-style:normal;
    font-weight:bold;
    src:url('assets/fonts/iranyekanwebbold.eot');
    src:url('assets/fonts/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/iranyekanwebbold.woff2') format('woff2'), url('assets/fonts/iranyekanwebbold.woff') format('woff'), url('assets/fonts/iranyekanwebbold.ttf') format('truetype')
}
@font-face{
    font-family:yekan;
    font-style:normal;
    font-weight:normal;
    src:url('assets/fonts/iranyekanwebregular.eot');
    src:url('assets/fonts/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/iranyekanwebregular.woff2') format('woff2'), url('assets/fonts/iranyekanwebregular.woff') format('woff'), url('assets/fonts/iranyekanwebregular.ttf') format('truetype')
}
@font-face{
    font-family:yekan;
    font-style:normal;
    font-weight:300;
    src:url('assets/fonts/iranyekanweblight.eot');
    src:url('assets/fonts/iranyekanweblight.eot?#iefix') format('embedded-opentype'), url('assets/fonts/iranyekanweblight.woff2') format('woff2'), url('assets/fonts/iranyekanweblight.woff') format('woff'), url('assets/fonts/iranyekanweblight.ttf') format('truetype')
}

body {direction: rtl;width:100%;font-family: yekan, tahoma;font-size: 13px;color: #555;text-align: right;font-weight: 400;background:#F2F2F2;overflow-x:hidden;}
.clear{clear:both;}
*{margin:0;padding:0;text-decoration:none;list-style-type:none;}
*:focus {outline: 0;}
::selection {background:#eee;opacity:0.1;}
::-webkit-input-placeholder {color: ##CACACA;}
:-moz-placeholder {/* Firefox 18- */color: #CACACA;}
::-moz-placeholder {/* Firefox 19+ */color: #CACACA;}
:-ms-input-placeholder {color: #CACACA;}
a{color:#555;user-drag: none; user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;}
a:hover{text-decoration:none;color:#333;}
a:active{text-decoration:none;}
img{user-drag: none; user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:bold;}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #443300;
  scrollbar-arrow-color: #443300;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #F0F5F9; }
::-webkit-scrollbar-track {  background-color: #F0F5F9;}
::-webkit-scrollbar-track-piece { background-color: #F0F5F9;}
::-webkit-scrollbar-corner { background-color: #F0F5F9;}
::-webkit-resizer { background-color: #F0F5F9;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #CDDDE4; border-radius: 3px;}

/* Main: */

.wrapper{width:1150px;margin:0 auto;}

.sticky{top:0;position:fixed;width:100%;z-index:999;box-shadow:0 0 10px rgba(0,0,0,.5);}
.stickyend{height:126px;}

.bar{height:38px;padding:10px 0;background:#F2F2F2;}
.bar .search{float:right;display:inline-block;background:#FFFFFF;height:38px;width:300px;padding:0 10px;border-radius:15px;}
.bar .search input{line-height:38px;}
.bar .search input[type=text]{float:right;border:0;font-family:yekan;width:250px;}
.bar .search input[type=submit]{font-family:simple-line-icons;float:left;border:0;background:none;line-height:38px;cursor:pointer;font-size:18px;}
.bar .call{float:left;display:inline-block;color:#03405F;line-height:15px;padding:11.5px 0;font-family:arial;}
.bar .call p{display:inline-block;float:left;border-right:1px solid #03405F;padding-right:10px;margin-right:10px;}
.bar .call p:last-child{border-right:0;}
.bar .call span{padding-left:10px;}

.header{height:48px;padding:10px 0;background:#03405F;}
.header .logo{float:left;width:192px;height:48px;}
.header .logo img{width:192px;height:48px;}
.header .logo a{display:block;}
.header a{color:#fff;}
.header .menu{float:right;white-space:nowrap;display:inline-block;width:auto;max-width:calc(100% - 192px);line-height:40px;margin:2px 0;}
.header .login{float:right;margin-left:30px;line-height:44px;position:relative;}
.header .login:after{display:block;width:100%;position:absolute;right:0;height:20px;content:'';}
.header .login i.icon-arrow-down{font-size:10px;padding-left:5px;}
.header .login i.fa-user-circle{font-size:14px;padding-right:10px;}
.header .loginbox{background: #fff;color: #444;padding: 10px 10px;box-shadow: 0 0 10px rgba(0,0,0,.1);position: absolute;border-radius:0 0 15px 15px;top:56px;display:none;}
.header .loginbox .button{display:block;background:#68A659;color:#fff;padding:0 10px;border-radius:10px;font-weight:bold;text-align:center;font-size:14px;}
.header .loginbox a{color:#333;font-weight:bold}
.header .loginbox p{font-size:12px;color:#aaa;}
.header .loginbox span{display: block;background: #eee;padding: 0 10px;text-align: center;line-height: 35px;margin-bottom:5px;border-radius:5px;}
.header .login:hover .loginbox{display:block;}
.header ul{float:right;}
.header ul li{float:right;padding:0 10px;border-radius:15px;border:2px solid #03405F;margin-left:10px;position:relative;}
.header ul li:hover{border:2px solid #4288A2;}
.header ul li.active{border:2px solid #5D9C89;}
.header ul li:after{display:block;width:100%;position:absolute;right:0;height:20px;content:'';}
.header ul li a{display:block;}
.header ul li ul{position:absolute;right:0;top:54px;background:#063147;padding:10px 10px;display:none;}
.header ul li:hover ul{display:block;}
.header ul li ul li{border:0;color:#ccc;}
.header ul li ul li:hover{border:0;color:#fff;}

.slider{position:relative;}
.slider img{width:100%;height:auto;}
.slider .owl-theme .owl-nav{width:100%;}
.slider .owl-nav .owl-prev{position:absolute;top:40%;right:50px;float:right;background:none;color:#fff;}
.slider .owl-nav .owl-next{position:absolute;top:40%;left:50px;float:left;background:none;color:#fff;}
.slider .owl-nav .owl-prev:hover{background:none;color:#fff;}
.slider .owl-nav .owl-next:hover{background:none;color:#fff;}

.partner{background:#fff;position:relative;margin:10px 0 30px;padding:20px 0;}
.partner .owl-theme .owl-nav{position:absolute;top:10px;width:100%;}
.partner .owl-nav .owl-prev{margin-right:-50px;float:right;background:#fff;color:#333;}
.partner .owl-nav .owl-next{margin-left:-50px;float:left;background:#fff;color:#333;}
.partner .owl-nav .owl-prev:hover{background:#fff;color:#333;}
.partner .owl-nav .owl-next:hover{background:#fff;color:#333;}

.about{background:#03405F;padding:40px 0;height:auto;overflow-x:auto;}
.about img{float:right;width:192px;height:48px;}
.about p{float:right;width:calc(100% - 442px);color:#fff;margin:0 50px;}
.about p strong{display:block;font-size:14px;padding-bottom:5px;}
.about a{float:left;width:150px;height:40px;background:#62A057;color:#fff;line-height:40px;text-align:center;margin:4px 0;}

.footer{padding:50px 0;text-align:center;height:auto;overflow-x:auto;}
.footer .box strong{font-size:16px;color:#03405F;padding-bottom:10px;display:block;}
.footer .box{display:inline-block;text-align:right;padding:0 20px;margin:0 20px;}
.footer .box li{padding:2px 0;}

.copyright{padding:30px 0 100px;height:auto;overflow-x:auto;}
.copyright .farsi{float:right;width:60%;}
.copyright .en{float:left;width:35%;direction:ltr;text-align:left;font-family:arial;}
.copyright strong{font-size:15px;display:block;padding-bottom:5px;}

/* Page: */

.breadcrumbs{line-height:60px;}
.breadcrumbs a{margin-right:10px;}
.breadcrumbs i{font-size:10px;padding:0 10px 0 0;}

.pagetitle{line-height:60px;position:relative;}
.pagetitle span{background:#F2F2F2;padding:0 10px;font-weight:bold;font-size:15px;}
.pagetitle b{border-bottom:1px solid #BFBFBF;display:block;position:absolute;top:30px;right:0;width:100%;z-index:-1;}
.pagetitle a.more{float:left;background:#E1E1E1;font-weight:normal;font-size:13px;height:30px;padding:0 15px;line-height:30px;margin-top:15px;}
.pagetitle a.more i{font-size:10px;padding-right:5px;}
.bottomtitle{margin-bottom:20px;height: 50px;}
.page{padding:15px 0;}

.pagenumber{text-align:center;margin:10px 0;}
.pagenumber ul{display:inline-block;background:#F5F5F5;width:auto;white-space:nowrap;height:auto;overflow-x:auto;padding:20px;border-radius:10px;}
.pagenumber li{float:right;}
.pagenumber li a{width:30px;height:30px;text-align:center;line-height:30px;background:#F5F5F5;color:#888;display:block;border-radius:10px;border:1px solid #F5F5F5;}
.pagenumber li.active a{color:#333;border:1px solid #EDEDED;background:#fff;}
.pagenumber li:hover a{color:#333;}
.pagenumber li i{font-size:10px;}


/* Index: */

.indexsearch{padding:50px 0;text-align:center;}
.indexsearch form{line-height:50px;margin:20px 0;}
.indexsearch input{font-family:yekan;line-height:48px;border:1px solid #aaa;border-radius:10px;padding:0 20px;width:300px;}
.indexsearch input[type=submit]{font-family:yekan;height:50px;background:#62A057;color:#fff;width:100px;cursor:pointer;}
.indexsearch select{font-family:yekan;line-height:50px;height:50px;background:#7F7F7F;color:#fff;padding:0 10px;position:relative;border:0;border-radius:10px;}
.indexsearch li{display:inline-block;width:150px;background:#D9D9D9;display:inline-block;border-radius:10px;margin:0 10px;padding:10px 0;}
.indexsearch li strong{display:block;font-size:18px;padding-bottom:5px;}
.indexsearch .catmore{color:#03405F;padding-top:20px;display:inline-block;}
.indexsearch .catmore i{font-size:10px;padding:0 5px;}

.products .list{text-align:center;color:#7F7F7F;}
.products .list .item{background:#fff;display:inline-block;width:200px;padding:10px 10px;border-radius:10px;border:1px solid #eee;margin-left:7px;margin-bottom:7px;position:relative;overflow:hidden;}
.products .list .item img{max-width:100%;height:auto;padding:0px 0 20px;}
.products .list .item h2{padding:10px 10px;}
.products .list .item p{height:36px;overflow:hidden;}
.products .list .item .on{position:absolute;right:0;top:-200%;width:100%;height:100%;background:rgba(255,255,255,.9);transition:ease all .3s;color:#37537B;text-align:center;}
.products .list .item:hover .on{top:0;transition:ease all .3s;cursor:pointer;}
.products .list .item.active .on{top:0;transition:ease all .3s;cursor:pointer;}
.products .list .item .on strong{padding:10px 0 5px;display:block;font-size:14px;}
.products .list .item .on span{display:block;text-align:right;padding:0 10px;}
.products .list .item .on span:before{display:inline-block;font-size:5px;padding-left:5px;content:'';font-family:FontAwesome;}
.products .list .item .on img{width:100px;height:57px;margin:40px auto 0;padding:10px 20px;border-radius:10px;background:#fff;}
.products .list .item .pic{position:relative;border-radius:5px;overflow:hidden;width:200px;height:200px;}
.products .list .item .off{position:relative;}
.products .list .item .new{position:absolute;left:10px;top:10px;background:#03405F;color:#fff;font-size:10px;font-family:arial;padding:5px;}
.products .list .item .text{padding:10px 0;}
.products .list .item .text a{display:block;font-weight:bold;font-size:14px;padding:10px 0;}
.products .list .item .text img{width:auto;margin:10px auto 0;padding:0;}
.products .owl-theme .owl-nav{position:absolute;top:40%;width:100%;}
.products .owl-nav .owl-prev{margin-right:-50px;float:right;background:none;color:#333;}
.products .owl-nav .owl-next{margin-left:-50px;float:left;background:none;color:#333;}
.products .owl-nav .owl-prev:hover{background:none;color:#333;}
.products .owl-nav .owl-next:hover{background:none;color:#333;}
.products .list.new .item{margin-left:5px;margin-bottom:5px;}
.products .list.new .item:nth-child(5),
.products .list.new .item:nth-child(10),
.products .list.new .item:nth-child(15){margin-left:0;}

.projects{padding:50px 0 70px;background:#03405F url(assets/images/banner.jpg) fixed;background-size:cover;color:#fff;}
.projects .wrapper{position:relative;}
.projects .pagetitle{height:70px;}
.projects .pagetitle span{position: absolute;right: 0;z-index: 2;width:130px;background:none;color:#fff;}
.projects .pagetitle b{border-bottom:1px solid rgba(255,255,255,.2);z-index:1;width:70%;right:15%;}
.projects .posts{text-align:center;}
.projects .post{display:inline-block;width:32%;margin:0 .5%;text-align:right;}
.projects .post img{margin-bottom:10px;max-width:100%;height:auto;}
.projects .post h3 a{color:#fff;font-size:17px;padding-bottom:5px;}
.projects .post p{color:#fff;font-size:14px;}

.blog{padding:70px 0 70px;background:#03405F url(assets/images/banner.jpg) fixed;background-size:cover;color:#fff;height:auto;overflow-x:auto;}
.blog .big{float:right;width:40%;}
.blog .big h3{padding-bottom:15px;}
.blog .small{float:left;width:58%;}
.blog .posts{text-align:center;}
.blog .big .post{display:inline-block;width:99%;margin:0 .5%;text-align:right;}
.blog .small .post{display:inline-block;width:44%;margin:0 1.5% 15px;text-align:right;}
.blog .post img{margin-bottom:10px;max-width:100%;height:auto;}
.blog .post h3 a{color:#fff;font-size:17px;padding-bottom:5px;}
.blog .post p{color:#fff;font-size:14px;text-align:justify;line-height:30px;}
.blog .post p a{color:#eee;}
.blogtitle{text-align:right;padding:20px 0 40px;font-size:25px;}
.blogtitle span{font-weight:normal;font-family:arial;}
.blogtitle b{color:#63A253;font-weight:normal;}

.category{height:auto;overflow-x:auto;padding:20px 0 50px;}
.category ul{float:right;width:46%;margin:0 1%;}
.category li{display:inline-block;float:right;width:96%;margin:5px 0;background:#fff;border:1px solid #000000;line-height:40px;height:auto;overflow:hidden;padding:0 2%;font-weight:bold;font-size:14px;cursor:pointer;transition:ease all .3s;}
.category li i{float:left;font-size:10px;line-height:40px;}
.category li a{display:block;}
.category li .open{font-weight:normal;font-size:13px;line-height:25px;padding-bottom:10px;display:none;}
.category li.active{display:block;}
.category li a span{background:#fff;display:inline-block;color:#fff;float:left;margin:3px 0;font-size:12px;font-weight:300;line-height:20px;padding:0 10px;border-radius:15px;transition:ease all .3s;}
.category li p a span{margin:10px;}
.category li .open a{border-top:1px dotted #ccc;padding:10px 0;}
.category li a:hover span{background:#03405F;transition:ease all .3s;}

/* CompaniesList: */

.company .sort{margin-bottom:40px;}
.company .sort a{padding:10px 0;margin:0 10px;margin-left:20px;}
.company .sort a:hover{border-bottom:1px solid #ccc;}
.company .sort a.active{margin:0;padding:10px;background:#e1e1e1;}
.company .list{text-align:center;color:#7F7F7F;}
.company .list .item{background:#fff;display:inline-block;width:160px;padding:30px 10px;border-radius:10px;border:1px solid #eee;margin-left:7px;margin-bottom:7px;position:relative;overflow:hidden;height: 175px}
.company .list div.item:nth-child(6){margin-left:0;}
.company .list div.item:nth-child(12){margin-left:0;}
.company .list div.item:nth-child(18){margin-left:0;}
.company .list div.item:nth-child(24){margin-left:0;}
.company .list div.item:nth-child(30){margin-left:0;}
.company .list .item img{max-width:100%;height:auto;padding:0px 0 20px;}
.company .list .item h2{padding:10px 10px;}
.company .list .item p{height:36px;overflow:hidden;}
.company .list .item .on{position:absolute;right:0;top:100%;width:100%;height:100%;background:rgba(255,255,255,.9);transition:ease all .3s;color:#37537B;}
.company .list .item:hover .on{top:0;transition:ease all .3s;cursor:pointer;}
.company .list .item.active .on{top:0;transition:ease all .3s;cursor:pointer;}
.company .list .item .on strong{padding:10px 0 5px;display:block;font-size:14px;}
.company .list .item .on span{display:block;text-align:right;padding:0 10px;}
.company .list .item .on span:before{display:inline-block;font-size:5px;padding-left:5px;content:'';font-family:FontAwesome;}

/* Product Categories: */

.bigtitle{padding:30px 0;height:auto;overflow-x:auto;}
.bigtitle img{float:left;width:200px;height:150px;}
.bigtitle .text{float:right;width:calc(100% - 300px);display:block;line-height:30px;}
.bigtitle .text h1{padding-bottom:10px;display:block;}

.sidebar{float:right;width:300px;margin-bottom:15px;}
.sidebar .widget{width:230px;height:auto;padding:20px;background:#fff;border:1px solid #BFBFBF;border-radius:10px;margin-bottom:15px;}
.sidebar .widget h3{display:block;padding-bottom:15px;cursor:pointer;line-height:30px;}
.sidebar .widget h3 i{font-size:10px;float:left;line-height:40px;}
.sidebar .widget p{padding:1px 0;}
.sidebar .widget p input[type=checkbox]{margin-left:5px;width:auto;}

.sidebar .widget input{font-family:yekan;line-height:38px;border:1px solid #aaa;border-radius:10px;padding:0 10px;width:48px;}
.sidebar .widget input[type=submit]{font-family:yekan;height:40px;background:#62A057;color:#fff;width:100%;cursor:pointer;margin-top:10px;border:0;}
.sidebar .widget select{font-family:yekan;line-height:40px;height:40px;background:#7F7F7F;color:#fff;padding:0 10px;position:relative;border:0;border-radius:10px}

.single{float:left;width:850px;padding-top:0;}
.single.products .list .item{width:180px;}
.single.products .list .item .pic{width:100%;height:auto;}
.single.products .list .item img{padding:0;}
.single.products .list .item .text{padding-bottom:0;}

.prcat{height:auto;overflow-x:auto;position:relative;}

/* Project Page: */

.project{height:auto;overflow-x:auto;padding:30px 0;}
.project .text{float:right;width:45%;}
.project .pic{float:left;width:50%;}
.project .cat a{display:inline-block;padding:5px 10px;color:#fff;background:#62A257;border-radius:5px;}
.project h1{display:block;margin:10px 0;}
.project a.tag{color:#222;display:block;padding-bottom:10px;}

.outer { margin:0 auto; max-width:800px;}
#big .item { background: #ec6e46; padding: 0px 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; }
#thumbs .item { background: #C9C9C9; height:auto; line-height:70px; padding: 0px; margin:2px; color: #FFF; border-radius: 3px; text-align: center; cursor: pointer;filter:grayscale(100%); }
#thumbs .item h1 { font-size: 18px; }
#thumbs .current .item { background:#FF5722;filter:grayscale(0%); }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }

.pagetext{line-height:30px;padding:20px 0;}
.projectposts{height:auto;padding:30px 0;}
.projectposts .posts{text-align:center;}
.projectposts .post{display:inline-block;text-align:right;margin:0 3px;background:#fff;}
.projectposts div.post:last-child{margin-left:0;}
.projectposts .post img{margin-bottom:10px;width:100%;height:auto;}
.projectposts .post h3 a{color:#333;font-size:15px;padding-bottom:5px;padding:0 10px 10px;}
.projectposts .post p{color:#333;font-size:13px;padding:0 10px 20px;}
.projectposts .owl-nav{position:absolute;top:-55px;left:0;}
.projectposts .owl-nav .owl-prev{right:-50px;float:right;background:#F2F2F2;color:#333;}
.projectposts .owl-nav .owl-next{left:-50px;float:left;background:#F2F2F2;color:#333;}
.projectposts .owl-nav .owl-prev:hover{background:#F2F2F2;color:#333;}
.projectposts .owl-nav .owl-next:hover{background:#F2F2F2;color:#333;}

/* Company Page: */

.copage{}
.cotitle{border:1px solid #D0CECE;padding:20px;border-radius:5px;height:auto;overflow-x:auto;}
.cotitle .pic{float:right;width:150px;height:150px;text-align:center;line-height:150px;background:#fff;border-radius:5px;border:1px solid #D0CECE;overflow:hidden;}
.cotitle .pic img{width:150px;height:150px;}
.cotitle .text{float:left;width:920px;}
.cotitle .text .right{float:right;width:500px;}
.cotitle .text .right p{padding:10px 0;}
.cotitle .text .left{float:left;width:350px;text-align:center;padding-top:5px;}
.cotitle h1{font-size:20px;padding-bottom:5px;}
.cotitle a{color:#033F5E;}
.cotitle i{padding-right:10px;}
.cotitle .button{color:#fff;padding:15px 20px;margin:15px 0 0;border-radius:10px;}
.cotitle .button.big{display:block;background:#033F5E;font-size:15px;font-weight:bold;}
.cotitle .button.small{display:inline-block;background:#62A257;width:100px;margin-left:10px;width: 127.5px;font-weight:bold;}
.cotitle a.button.small:last-child{margin-left:0;}

.toptabs{padding:20px 0 0;}
.toptabs ul{display:block;background:#033F5E;height:auto;overflow-x:auto;}
.toptabs li{line-height:40px;font-weight:bold;padding:0 20px;border-left:1px solid #040B0E;float:right;color:#fff;cursor:pointer;}
.toptabs li:hover{background:#23556F;}
.toptabs li.active{background:#23556F;}
.toptabs li:last-child{border-left:0;}
.toptabs li a{color:#fff;}
.toptexts{padding:20px 0;}
.toptext {height:auto;overflow-x:auto;}
.toptext .text{padding:20px;height:300px;border:1px solid #D0CECE;width:calc(49% - 40px);}
.toptext .text.right{float:right;margin-left:calc(2% - 4px);}
.toptext .text.left{float:left;}
.toptext .text h2{font-size:17px;display:block;padding-bottom:20px;}
.toptext .brandtabs{background:#62A257;}
.toptext li.brandtab{padding:0;width:50%;border:0;text-align:center;font-weight:bold;}
.toptext li.brandtab:hover{background:#6db361;}
.toptext li.brandtab.active{background:#56864e;}
.toptext li.brandtab.active:hover{background:#6db361;}
.toptext .brandtexts{padding:20px 0;}
.toptext .brandtext{display:none;}
.toptext .brandtext.active{display:block;}
.toptext .brandtext p{padding:5px 0;}
.toptext .brandtext a{color:#2F5597;}
.toptext .brandtext i{font-size:10px;padding-left:5px;display:inline-block;float:right;line-height:20px;}
.toptext .coinfo{}
.toptext .coinfo p{display:block;width:49%;float:right;padding:0 .5% 25px;}
.toptext .coinfo p strong{display:block;font-size:14px;padding-bottom:5px;}
.toptext .coinfo i{color:#3D5891;padding-left:10px;}

.textabs{border:1px solid #D0CECE;}
.textabs ul{background:#FFFFFF;border-bottom:1px solid #D0CECE;}
.textabs li{color:#23556F;line-height:40px;display:inline-block;padding:0 20px;cursor:pointer;}
.textabs li:hover{font-weight:bold;}
.textabs li.active{background:#23556F;color:#fff;font-weight:bold;}
.textabs .texts{padding:20px 20px 30px;}
.textabs .texts h2{display:block;padding:10px 0;}
.textabs .texts h3{display:block;padding:10px 0;color:#23556F;}
.textabs .texts .textp{display:none;}
.textabs .texts .textp.active{display:block;}

.coitems{padding:20px;border:1px solid #D0CECE;margin:30px 0;}
.coitems ul{display:inline-block;width:auto;white-space:nowrap;background:#62A257;color:#fff;border:1px solid #73776E;border-left:0;margin:10px 0;}
.coitems li{display:inline-block;line-height:40px;border-left:1px solid #73776E;float:right;padding:0 20px;cursor:pointer;}
.coitems li:hover{background:#8FBF87;}
.coitems li.active{background:#8FBF87;}
.coitems .products{height:auto;overflow-x:auto;}
.coitems .products .list .item{float:right;}
.coitems .itemtext{display:none;}
.coitems .itemtext.active{display:block;}

/* CompanyPage Products:*/

.product{padding:20px;border:1px solid #D0CECE;border-radius:5px;margin-top:20px;}
.product .prtitle{text-align:center;padding-bottom:10px;position:relative;border-bottom:1px solid #D0CECE;}
.product .prtext{position:absolute;}
.product .prtext strong{display:block;}
.product .prtext.right{right:0;top:5px;text-align:right;}
.product .prtext.left{left:0;top:5px;text-align:left;}
.product .prcontent{padding:20px 0 10px;height:auto;overflow-x:auto;}
.product .pr-right{float:right;width:50%;}
.product .pr-left{float:left;width:calc(50% - 60px);padding:30px;}
.product .pr-left a{display:block;background:#62A257;color:#fff;padding:17px 20px;font-size:14px;border-radius:10px;margin:0 0 10px;text-align:center;font-weight:bold;}
.product .pr-left span a{background:#033F5E;}
.product .box{margin:20px 0;}
.product .box span{background:#AFABAB;color:#fff;padding:10px 40px;font-size:15px;border-bottom:2px solid #033F5E;display:inline-block;}
.product .box .text{border:1px solid #D0CECE;padding:20px;}
.product .box li{display:inline-block;width:33%;padding:10px 0;}
.product .box a.more{float:left;margin-top:10px;color:#03405F;}

.mob{display:none;}
.mobilemenu{display:none;}


/* new codes */
.register-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.register-content > h2{
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}
.register-content > h3{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
}
.register-other{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}
.register-other > a{
    color: #1171A2;
}
.row{
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
}
.row > div{
    flex-grow: 1;
}
.register-box{
    border: 3px solid #68a65d;
    background-color: #fff;
    padding: 50px 20px 30px;
}
.col-6{
    float: right;
    width: 50%;
    padding: 0 10px;
}
.col-12{
    float: right;
    width: 100%;
    padding: 0 10px;
}
.d-block{
    display: block;
}
.w-100{
    width: 100%;
}
.register-input {
	font-family: yekan, tahoma;
	padding: 7px 10px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 5px;
}
.register-submit {
	display: block;
	width: 100%;
	padding: 13px 0;
	border-radius: 5px;
	border: none;
	font-family: 'yekan', tahoma;
	background: #67a55c;
	color: #fff;
}
.register-text{
    padding-right: 50px;
    padding-top: 60px;
    line-height: 2;
    font-size: 15px;
}
.register-text a{
    color: #67a55c;
    font-weight: bold;
}
/* new codes */





@font-face {font-family: 'simple-line-icons';src: url('assets/fonts/Simple-Line-Icons.eot?v=2.4.0');src: url('assets/fonts/Simple-Line-Icons.eot?v=2.4.0#iefix') format('embedded-opentype'), url('assets/fonts/Simple-Line-Icons.woff2?v=2.4.0') format('woff2'), url('assets/fonts/Simple-Line-Icons.ttf?v=2.4.0') format('truetype'), url('assets/fonts/Simple-Line-Icons.woff?v=2.4.0') format('woff'), url('assets/fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons') format('svg');font-weight: normal;font-style: normal;}.icon-user, .icon-people, .icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-login, .icon-logout, .icon-emotsmile, .icon-phone, .icon-call-end, .icon-call-in, .icon-call-out, .icon-map, .icon-location-pin, .icon-direction, .icon-directions, .icon-compass, .icon-layers, .icon-menu, .icon-list, .icon-options-vertical, .icon-options, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-up-circle, .icon-arrow-left-circle, .icon-arrow-right-circle, .icon-arrow-down-circle, .icon-check, .icon-clock, .icon-plus, .icon-minus, .icon-close, .icon-event, .icon-exclamation, .icon-organization, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-mustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-disc, .icon-cursor, .icon-cursor-move, .icon-crop, .icon-chemistry, .icon-speedometer, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglass, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-folder-alt, .icon-folder, .icon-film, .icon-feed, .icon-drop, .icon-drawer, .icon-docs, .icon-doc, .icon-diamond, .icon-cup, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-frame, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-loop, .icon-home, .icon-grid, .icon-graph, .icon-microphone, .icon-music-tone-alt, .icon-music-tone, .icon-earphones-alt, .icon-earphones, .icon-equalizer, .icon-like, .icon-dislike, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-calendar, .icon-bulb, .icon-chart, .icon-ban, .icon-bubble, .icon-camrecorder, .icon-camera, .icon-cloud-download, .icon-cloud-upload, .icon-envelope, .icon-eye, .icon-flag, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-credit-card, .icon-paypal, .icon-social-tumblr, .icon-social-twitter, .icon-social-facebook, .icon-social-instagram, .icon-social-linkedin, .icon-social-pinterest, .icon-social-github, .icon-social-google, .icon-social-reddit, .icon-social-skype, .icon-social-dribbble, .icon-social-behance, .icon-social-foursqare, .icon-social-soundcloud, .icon-social-spotify, .icon-social-stumbleupon, .icon-social-youtube, .icon-social-dropbox, .icon-social-vkontakte, .icon-social-steam {font-family: 'simple-line-icons';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.icon-user:before {content: "\e005";}.icon-people:before {content: "\e001";}.icon-user-female:before {content: "\e000";}.icon-user-follow:before {content: "\e002";}.icon-user-following:before {content: "\e003";}.icon-user-unfollow:before {content: "\e004";}.icon-login:before {content: "\e066";}.icon-logout:before {content: "\e065";}.icon-emotsmile:before {content: "\e021";}.icon-phone:before {content: "\e600";}.icon-call-end:before {content: "\e048";}.icon-call-in:before {content: "\e047";}.icon-call-out:before {content: "\e046";}.icon-map:before {content: "\e033";}.icon-location-pin:before {content: "\e096";}.icon-direction:before {content: "\e042";}.icon-directions:before {content: "\e041";}.icon-compass:before {content: "\e045";}.icon-layers:before {content: "\e034";}.icon-menu:before {content: "\e601";}.icon-list:before {content: "\e067";}.icon-options-vertical:before {content: "\e602";}.icon-options:before {content: "\e603";}.icon-arrow-down:before {content: "\e604";}.icon-arrow-left:before {content: "\e605";}.icon-arrow-right:before {content: "\e606";}.icon-arrow-up:before {content: "\e607";}.icon-arrow-up-circle:before {content: "\e078";}.icon-arrow-left-circle:before {content: "\e07a";}.icon-arrow-right-circle:before {content: "\e079";}.icon-arrow-down-circle:before {content: "\e07b";}.icon-check:before {content: "\e080";}.icon-clock:before {content: "\e081";}.icon-plus:before {content: "\e095";}.icon-minus:before {content: "\e615";}.icon-close:before {content: "\e082";}.icon-event:before {content: "\e619";}.icon-exclamation:before {content: "\e617";}.icon-organization:before {content: "\e616";}.icon-trophy:before {content: "\e006";}.icon-screen-smartphone:before {content: "\e010";}.icon-screen-desktop:before {content: "\e011";}.icon-plane:before {content: "\e012";}.icon-notebook:before {content: "\e013";}.icon-mustache:before {content: "\e014";}.icon-mouse:before {content: "\e015";}.icon-magnet:before {content: "\e016";}.icon-energy:before {content: "\e020";}.icon-disc:before {content: "\e022";}.icon-cursor:before {content: "\e06e";}.icon-cursor-move:before {content: "\e023";}.icon-crop:before {content: "\e024";}.icon-chemistry:before {content: "\e026";}.icon-speedometer:before {content: "\e007";}.icon-shield:before {content: "\e00e";}.icon-screen-tablet:before {content: "\e00f";}.icon-magic-wand:before {content: "\e017";}.icon-hourglass:before {content: "\e018";}.icon-graduation:before {content: "\e019";}.icon-ghost:before {content: "\e01a";}.icon-game-controller:before {content: "\e01b";}.icon-fire:before {content: "\e01c";}.icon-eyeglass:before {content: "\e01d";}.icon-envelope-open:before {content: "\e01e";}.icon-envelope-letter:before {content: "\e01f";}.icon-bell:before {content: "\e027";}.icon-badge:before {content: "\e028";}.icon-anchor:before {content: "\e029";}.icon-wallet:before {content: "\e02a";}.icon-vector:before {content: "\e02b";}.icon-speech:before {content: "\e02c";}.icon-puzzle:before {content: "\e02d";}.icon-printer:before {content: "\e02e";}.icon-present:before {content: "\e02f";}.icon-playlist:before {content: "\e030";}.icon-pin:before {content: "\e031";}.icon-picture:before {content: "\e032";}.icon-handbag:before {content: "\e035";}.icon-globe-alt:before {content: "\e036";}.icon-globe:before {content: "\e037";}.icon-folder-alt:before {content: "\e039";}.icon-folder:before {content: "\e089";}.icon-film:before {content: "\e03a";}.icon-feed:before {content: "\e03b";}.icon-drop:before {content: "\e03e";}.icon-drawer:before {content: "\e03f";}.icon-docs:before {content: "\e040";}.icon-doc:before {content: "\e085";}.icon-diamond:before {content: "\e043";}.icon-cup:before {content: "\e044";}.icon-calculator:before {content: "\e049";}.icon-bubbles:before {content: "\e04a";}.icon-briefcase:before {content: "\e04b";}.icon-book-open:before {content: "\e04c";}.icon-basket-loaded:before {content: "\e04d";}.icon-basket:before {content: "\e04e";}.icon-bag:before {content: "\e04f";}.icon-action-undo:before {content: "\e050";}.icon-action-redo:before {content: "\e051";}.icon-wrench:before {content: "\e052";}.icon-umbrella:before {content: "\e053";}.icon-trash:before {content: "\e054";}.icon-tag:before {content: "\e055";}.icon-support:before {content: "\e056";}.icon-frame:before {content: "\e038";}.icon-size-fullscreen:before {content: "\e057";}.icon-size-actual:before {content: "\e058";}.icon-shuffle:before {content: "\e059";}.icon-share-alt:before {content: "\e05a";}.icon-share:before {content: "\e05b";}.icon-rocket:before {content: "\e05c";}.icon-question:before {content: "\e05d";}.icon-pie-chart:before {content: "\e05e";}.icon-pencil:before {content: "\e05f";}.icon-note:before {content: "\e060";}.icon-loop:before {content: "\e064";}.icon-home:before {content: "\e069";}.icon-grid:before {content: "\e06a";}.icon-graph:before {content: "\e06b";}.icon-microphone:before {content: "\e063";}.icon-music-tone-alt:before {content: "\e061";}.icon-music-tone:before {content: "\e062";}.icon-earphones-alt:before {content: "\e03c";}.icon-earphones:before {content: "\e03d";}.icon-equalizer:before {content: "\e06c";}.icon-like:before {content: "\e068";}.icon-dislike:before {content: "\e06d";}.icon-control-start:before {content: "\e06f";}.icon-control-rewind:before {content: "\e070";}.icon-control-play:before {content: "\e071";}.icon-control-pause:before {content: "\e072";}.icon-control-forward:before {content: "\e073";}.icon-control-end:before {content: "\e074";}.icon-volume-1:before {content: "\e09f";}.icon-volume-2:before {content: "\e0a0";}.icon-volume-off:before {content: "\e0a1";}.icon-calendar:before {content: "\e075";}.icon-bulb:before {content: "\e076";}.icon-chart:before {content: "\e077";}.icon-ban:before {content: "\e07c";}.icon-bubble:before {content: "\e07d";}.icon-camrecorder:before {content: "\e07e";}.icon-camera:before {content: "\e07f";}.icon-cloud-download:before {content: "\e083";}.icon-cloud-upload:before {content: "\e084";}.icon-envelope:before {content: "\e086";}.icon-eye:before {content: "\e087";}.icon-flag:before {content: "\e088";}.icon-heart:before {content: "\e08a";}.icon-info:before {content: "\e08b";}.icon-key:before {content: "\e08c";}.icon-link:before {content: "\e08d";}.icon-lock:before {content: "\e08e";}.icon-lock-open:before {content: "\e08f";}.icon-magnifier:before {content: "\e090";}.icon-magnifier-add:before {content: "\e091";}.icon-magnifier-remove:before {content: "\e092";}.icon-paper-clip:before {content: "\e093";}.icon-paper-plane:before {content: "\e094";}.icon-power:before {content: "\e097";}.icon-refresh:before {content: "\e098";}.icon-reload:before {content: "\e099";}.icon-settings:before {content: "\e09a";}.icon-star:before {content: "\e09b";}.icon-symbol-female:before {content: "\e09c";}.icon-symbol-male:before {content: "\e09d";}.icon-target:before {content: "\e09e";}.icon-credit-card:before {content: "\e025";}.icon-paypal:before {content: "\e608";}.icon-social-tumblr:before {content: "\e00a";}.icon-social-twitter:before {content: "\e009";}.icon-social-facebook:before {content: "\e00b";}.icon-social-instagram:before {content: "\e609";}.icon-social-linkedin:before {content: "\e60a";}.icon-social-pinterest:before {content: "\e60b";}.icon-social-github:before {content: "\e60c";}.icon-social-google:before {content: "\e60d";}.icon-social-reddit:before {content: "\e60e";}.icon-social-skype:before {content: "\e60f";}.icon-social-dribbble:before {content: "\e00d";}.icon-social-behance:before {content: "\e610";}.icon-social-foursqare:before {content: "\e611";}.icon-social-soundcloud:before {content: "\e612";}.icon-social-spotify:before {content: "\e613";}.icon-social-stumbleupon:before {content: "\e614";}.icon-social-youtube:before {content: "\e008";}.icon-social-dropbox:before {content: "\e00c";}.icon-social-vkontakte:before {content: "\e618";}.icon-social-steam:before {content: "\e620";}
.fa,.fab,.fal,.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}.fa-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.fa-xs{font-size:.75em}.fa-sm{font-size:.875em}.fa-1x{font-size:1em}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-6x{font-size:6em}.fa-7x{font-size:7em}.fa-8x{font-size:8em}.fa-9x{font-size:9em}.fa-10x{font-size:10em}.fa-fw{text-align:center;width:1.25em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-border{border:.08em solid #eee;border-radius:.1em;padding:.2em .25em .15em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left{margin-right:.3em}.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right{margin-left:.3em}.fa-spin{-webkit-animation:a 2s infinite linear;animation:a 2s infinite linear}.fa-pulse{-webkit-animation:a 1s infinite steps(8);animation:a 1s infinite steps(8)}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scaleX(-1);transform:scaleX(-1)}.fa-flip-vertical{-webkit-transform:scaleY(-1);transform:scaleY(-1)}.fa-flip-horizontal.fa-flip-vertical,.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"}.fa-flip-horizontal.fa-flip-vertical{-webkit-transform:scale(-1);transform:scale(-1)}:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270{-webkit-filter:none;filter:none}.fa-stack{display:inline-block;height:2em;line-height:2em;position:relative;vertical-align:middle;width:2em}.fa-stack-1x,.fa-stack-2x{left:0;position:absolute;text-align:center;width:100%}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-500px:before{content:"\f26e"}.fa-accessible-icon:before{content:"\f368"}.fa-accusoft:before{content:"\f369"}.fa-address-book:before{content:"\f2b9"}.fa-address-card:before{content:"\f2bb"}.fa-adjust:before{content:"\f042"}.fa-adn:before{content:"\f170"}.fa-adversal:before{content:"\f36a"}.fa-affiliatetheme:before{content:"\f36b"}.fa-algolia:before{content:"\f36c"}.fa-align-center:before{content:"\f037"}.fa-align-justify:before{content:"\f039"}.fa-align-left:before{content:"\f036"}.fa-align-right:before{content:"\f038"}.fa-amazon:before{content:"\f270"}.fa-amazon-pay:before{content:"\f42c"}.fa-ambulance:before{content:"\f0f9"}.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-amilia:before{content:"\f36d"}.fa-anchor:before{content:"\f13d"}.fa-android:before{content:"\f17b"}.fa-angellist:before{content:"\f209"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-down:before{content:"\f107"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angrycreative:before{content:"\f36e"}.fa-angular:before{content:"\f420"}.fa-app-store:before{content:"\f36f"}.fa-app-store-ios:before{content:"\f370"}.fa-apper:before{content:"\f371"}.fa-apple:before{content:"\f179"}.fa-apple-pay:before{content:"\f415"}.fa-archive:before{content:"\f187"}.fa-arrow-alt-circle-down:before{content:"\f358"}.fa-arrow-alt-circle-left:before{content:"\f359"}.fa-arrow-alt-circle-right:before{content:"\f35a"}.fa-arrow-alt-circle-up:before{content:"\f35b"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-down:before{content:"\f063"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrows-alt:before{content:"\f0b2"}.fa-arrows-alt-h:before{content:"\f337"}.fa-arrows-alt-v:before{content:"\f338"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asterisk:before{content:"\f069"}.fa-asymmetrik:before{content:"\f372"}.fa-at:before{content:"\f1fa"}.fa-audible:before{content:"\f373"}.fa-audio-description:before{content:"\f29e"}.fa-autoprefixer:before{content:"\f41c"}.fa-avianex:before{content:"\f374"}.fa-aviato:before{content:"\f421"}.fa-aws:before{content:"\f375"}.fa-backward:before{content:"\f04a"}.fa-balance-scale:before{content:"\f24e"}.fa-ban:before{content:"\f05e"}.fa-band-aid:before{content:"\f462"}.fa-bandcamp:before{content:"\f2d5"}.fa-barcode:before{content:"\f02a"}.fa-bars:before{content:"\f0c9"}.fa-baseball-ball:before{content:"\f433"}.fa-basketball-ball:before{content:"\f434"}.fa-bath:before{content:"\f2cd"}.fa-battery-empty:before{content:"\f244"}.fa-battery-full:before{content:"\f240"}.fa-battery-half:before{content:"\f242"}.fa-battery-quarter:before{content:"\f243"}.fa-battery-three-quarters:before{content:"\f241"}.fa-bed:before{content:"\f236"}.fa-beer:before{content:"\f0fc"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-bell:before{content:"\f0f3"}.fa-bell-slash:before{content:"\f1f6"}.fa-bicycle:before{content:"\f206"}.fa-bimobject:before{content:"\f378"}.fa-binoculars:before{content:"\f1e5"}.fa-birthday-cake:before{content:"\f1fd"}.fa-bitbucket:before{content:"\f171"}.fa-bitcoin:before{content:"\f379"}.fa-bity:before{content:"\f37a"}.fa-black-tie:before{content:"\f27e"}.fa-blackberry:before{content:"\f37b"}.fa-blind:before{content:"\f29d"}.fa-blogger:before{content:"\f37c"}.fa-blogger-b:before{content:"\f37d"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-bold:before{content:"\f032"}.fa-bolt:before{content:"\f0e7"}.fa-bomb:before{content:"\f1e2"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-bowling-ball:before{content:"\f436"}.fa-box:before{content:"\f466"}.fa-boxes:before{content:"\f468"}.fa-braille:before{content:"\f2a1"}.fa-briefcase:before{content:"\f0b1"}.fa-btc:before{content:"\f15a"}.fa-bug:before{content:"\f188"}.fa-building:before{content:"\f1ad"}.fa-bullhorn:before{content:"\f0a1"}.fa-bullseye:before{content:"\f140"}.fa-buromobelexperte:before{content:"\f37f"}.fa-bus:before{content:"\f207"}.fa-buysellads:before{content:"\f20d"}.fa-calculator:before{content:"\f1ec"}.fa-calendar:before{content:"\f133"}.fa-calendar-alt:before{content:"\f073"}.fa-calendar-check:before{content:"\f274"}.fa-calendar-minus:before{content:"\f272"}.fa-calendar-plus:before{content:"\f271"}.fa-calendar-times:before{content:"\f273"}.fa-camera:before{content:"\f030"}.fa-camera-retro:before{content:"\f083"}.fa-car:before{content:"\f1b9"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-caret-square-down:before{content:"\f150"}.fa-caret-square-left:before{content:"\f191"}.fa-caret-square-right:before{content:"\f152"}.fa-caret-square-up:before{content:"\f151"}.fa-caret-up:before{content:"\f0d8"}.fa-cart-arrow-down:before{content:"\f218"}.fa-cart-plus:before{content:"\f217"}.fa-cc-amazon-pay:before{content:"\f42d"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-apple-pay:before{content:"\f416"}.fa-cc-diners-club:before{content:"\f24c"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-cc-visa:before{content:"\f1f0"}.fa-centercode:before{content:"\f380"}.fa-certificate:before{content:"\f0a3"}.fa-chart-area:before{content:"\f1fe"}.fa-chart-bar:before{content:"\f080"}.fa-chart-line:before{content:"\f201"}.fa-chart-pie:before{content:"\f200"}.fa-check:before{content:"\f00c"}.fa-check-circle:before{content:"\f058"}.fa-check-square:before{content:"\f14a"}.fa-chess:before{content:"\f439"}.fa-chess-bishop:before{content:"\f43a"}.fa-chess-board:before{content:"\f43c"}.fa-chess-king:before{content:"\f43f"}.fa-chess-knight:before{content:"\f441"}.fa-chess-pawn:before{content:"\f443"}.fa-chess-queen:before{content:"\f445"}.fa-chess-rook:before{content:"\f447"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-down:before{content:"\f078"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-chevron-up:before{content:"\f077"}.fa-child:before{content:"\f1ae"}.fa-chrome:before{content:"\f268"}.fa-circle:before{content:"\f111"}.fa-circle-notch:before{content:"\f1ce"}.fa-clipboard:before{content:"\f328"}.fa-clipboard-check:before{content:"\f46c"}.fa-clipboard-list:before{content:"\f46d"}.fa-clock:before{content:"\f017"}.fa-clone:before{content:"\f24d"}.fa-closed-captioning:before{content:"\f20a"}.fa-cloud:before{content:"\f0c2"}.fa-cloud-download-alt:before{content:"\f381"}.fa-cloud-upload-alt:before{content:"\f382"}.fa-cloudscale:before{content:"\f383"}.fa-cloudsmith:before{content:"\f384"}.fa-cloudversify:before{content:"\f385"}.fa-code:before{content:"\f121"}.fa-code-branch:before{content:"\f126"}.fa-codepen:before{content:"\f1cb"}.fa-codiepie:before{content:"\f284"}.fa-coffee:before{content:"\f0f4"}.fa-cog:before{content:"\f013"}.fa-cogs:before{content:"\f085"}.fa-columns:before{content:"\f0db"}.fa-comment:before{content:"\f075"}.fa-comment-alt:before{content:"\f27a"}.fa-comments:before{content:"\f086"}.fa-compass:before{content:"\f14e"}.fa-compress:before{content:"\f066"}.fa-connectdevelop:before{content:"\f20e"}.fa-contao:before{content:"\f26d"}.fa-copy:before{content:"\f0c5"}.fa-copyright:before{content:"\f1f9"}.fa-cpanel:before{content:"\f388"}.fa-creative-commons:before{content:"\f25e"}.fa-credit-card:before{content:"\f09d"}.fa-crop:before{content:"\f125"}.fa-crosshairs:before{content:"\f05b"}.fa-css3:before{content:"\f13c"}.fa-css3-alt:before{content:"\f38b"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-cut:before{content:"\f0c4"}.fa-cuttlefish:before{content:"\f38c"}.fa-d-and-d:before{content:"\f38d"}.fa-dashcube:before{content:"\f210"}.fa-database:before{content:"\f1c0"}.fa-deaf:before{content:"\f2a4"}.fa-delicious:before{content:"\f1a5"}.fa-deploydog:before{content:"\f38e"}.fa-deskpro:before{content:"\f38f"}.fa-desktop:before{content:"\f108"}.fa-deviantart:before{content:"\f1bd"}.fa-digg:before{content:"\f1a6"}.fa-digital-ocean:before{content:"\f391"}.fa-discord:before{content:"\f392"}.fa-discourse:before{content:"\f393"}.fa-dna:before{content:"\f471"}.fa-dochub:before{content:"\f394"}.fa-docker:before{content:"\f395"}.fa-dollar-sign:before{content:"\f155"}.fa-dolly:before{content:"\f472"}.fa-dolly-flatbed:before{content:"\f474"}.fa-dot-circle:before{content:"\f192"}.fa-download:before{content:"\f019"}.fa-draft2digital:before{content:"\f396"}.fa-dribbble:before{content:"\f17d"}.fa-dribbble-square:before{content:"\f397"}.fa-dropbox:before{content:"\f16b"}.fa-drupal:before{content:"\f1a9"}.fa-dyalog:before{content:"\f399"}.fa-earlybirds:before{content:"\f39a"}.fa-edge:before{content:"\f282"}.fa-edit:before{content:"\f044"}.fa-eject:before{content:"\f052"}.fa-elementor:before{content:"\f430"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-ember:before{content:"\f423"}.fa-empire:before{content:"\f1d1"}.fa-envelope:before{content:"\f0e0"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-square:before{content:"\f199"}.fa-envira:before{content:"\f299"}.fa-eraser:before{content:"\f12d"}.fa-erlang:before{content:"\f39d"}.fa-ethereum:before{content:"\f42e"}.fa-etsy:before{content:"\f2d7"}.fa-euro-sign:before{content:"\f153"}.fa-exchange-alt:before{content:"\f362"}.fa-exclamation:before{content:"\f12a"}.fa-exclamation-circle:before{content:"\f06a"}.fa-exclamation-triangle:before{content:"\f071"}.fa-expand:before{content:"\f065"}.fa-expand-arrows-alt:before{content:"\f31e"}.fa-expeditedssl:before{content:"\f23e"}.fa-external-link-alt:before{content:"\f35d"}.fa-external-link-square-alt:before{content:"\f360"}.fa-eye:before{content:"\f06e"}.fa-eye-dropper:before{content:"\f1fb"}.fa-eye-slash:before{content:"\f070"}.fa-facebook:before{content:"\f09a"}.fa-facebook-f:before{content:"\f39e"}.fa-facebook-messenger:before{content:"\f39f"}.fa-facebook-square:before{content:"\f082"}.fa-fast-backward:before{content:"\f049"}.fa-fast-forward:before{content:"\f050"}.fa-fax:before{content:"\f1ac"}.fa-female:before{content:"\f182"}.fa-fighter-jet:before{content:"\f0fb"}.fa-file:before{content:"\f15b"}.fa-file-alt:before{content:"\f15c"}.fa-file-archive:before{content:"\f1c6"}.fa-file-audio:before{content:"\f1c7"}.fa-file-code:before{content:"\f1c9"}.fa-file-excel:before{content:"\f1c3"}.fa-file-image:before{content:"\f1c5"}.fa-file-pdf:before{content:"\f1c1"}.fa-file-powerpoint:before{content:"\f1c4"}.fa-file-video:before{content:"\f1c8"}.fa-file-word:before{content:"\f1c2"}.fa-film:before{content:"\f008"}.fa-filter:before{content:"\f0b0"}.fa-fire:before{content:"\f06d"}.fa-fire-extinguisher:before{content:"\f134"}.fa-firefox:before{content:"\f269"}.fa-first-aid:before{content:"\f479"}.fa-first-order:before{content:"\f2b0"}.fa-firstdraft:before{content:"\f3a1"}.fa-flag:before{content:"\f024"}.fa-flag-checkered:before{content:"\f11e"}.fa-flask:before{content:"\f0c3"}.fa-flickr:before{content:"\f16e"}.fa-flipboard:before{content:"\f44d"}.fa-fly:before{content:"\f417"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-font:before{content:"\f031"}.fa-font-awesome:before{content:"\f2b4"}.fa-font-awesome-alt:before{content:"\f35c"}.fa-font-awesome-flag:before{content:"\f425"}.fa-fonticons:before{content:"\f280"}.fa-fonticons-fi:before{content:"\f3a2"}.fa-football-ball:before{content:"\f44e"}.fa-fort-awesome:before{content:"\f286"}.fa-fort-awesome-alt:before{content:"\f3a3"}.fa-forumbee:before{content:"\f211"}.fa-forward:before{content:"\f04e"}.fa-foursquare:before{content:"\f180"}.fa-free-code-camp:before{content:"\f2c5"}.fa-freebsd:before{content:"\f3a4"}.fa-frown:before{content:"\f119"}.fa-futbol:before{content:"\f1e3"}.fa-gamepad:before{content:"\f11b"}.fa-gavel:before{content:"\f0e3"}.fa-gem:before{content:"\f3a5"}.fa-genderless:before{content:"\f22d"}.fa-get-pocket:before{content:"\f265"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-gift:before{content:"\f06b"}.fa-git:before{content:"\f1d3"}.fa-git-square:before{content:"\f1d2"}.fa-github:before{content:"\f09b"}.fa-github-alt:before{content:"\f113"}.fa-github-square:before{content:"\f092"}.fa-gitkraken:before{content:"\f3a6"}.fa-gitlab:before{content:"\f296"}.fa-gitter:before{content:"\f426"}.fa-glass-martini:before{content:"\f000"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-globe:before{content:"\f0ac"}.fa-gofore:before{content:"\f3a7"}.fa-golf-ball:before{content:"\f450"}.fa-goodreads:before{content:"\f3a8"}.fa-goodreads-g:before{content:"\f3a9"}.fa-google:before{content:"\f1a0"}.fa-google-drive:before{content:"\f3aa"}.fa-google-play:before{content:"\f3ab"}.fa-google-plus:before{content:"\f2b3"}.fa-google-plus-g:before{content:"\f0d5"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-wallet:before{content:"\f1ee"}.fa-graduation-cap:before{content:"\f19d"}.fa-gratipay:before{content:"\f184"}.fa-grav:before{content:"\f2d6"}.fa-gripfire:before{content:"\f3ac"}.fa-grunt:before{content:"\f3ad"}.fa-gulp:before{content:"\f3ae"}.fa-h-square:before{content:"\f0fd"}.fa-hacker-news:before{content:"\f1d4"}.fa-hacker-news-square:before{content:"\f3af"}.fa-hand-lizard:before{content:"\f258"}.fa-hand-paper:before{content:"\f256"}.fa-hand-peace:before{content:"\f25b"}.fa-hand-point-down:before{content:"\f0a7"}.fa-hand-point-left:before{content:"\f0a5"}.fa-hand-point-right:before{content:"\f0a4"}.fa-hand-point-up:before{content:"\f0a6"}.fa-hand-pointer:before{content:"\f25a"}.fa-hand-rock:before{content:"\f255"}.fa-hand-scissors:before{content:"\f257"}.fa-hand-spock:before{content:"\f259"}.fa-handshake:before{content:"\f2b5"}.fa-hashtag:before{content:"\f292"}.fa-hdd:before{content:"\f0a0"}.fa-heading:before{content:"\f1dc"}.fa-headphones:before{content:"\f025"}.fa-heart:before{content:"\f004"}.fa-heartbeat:before{content:"\f21e"}.fa-hips:before{content:"\f452"}.fa-hire-a-helper:before{content:"\f3b0"}.fa-history:before{content:"\f1da"}.fa-hockey-puck:before{content:"\f453"}.fa-home:before{content:"\f015"}.fa-hooli:before{content:"\f427"}.fa-hospital:before{content:"\f0f8"}.fa-hospital-symbol:before{content:"\f47e"}.fa-hotjar:before{content:"\f3b1"}.fa-hourglass:before{content:"\f254"}.fa-hourglass-end:before{content:"\f253"}.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-start:before{content:"\f251"}.fa-houzz:before{content:"\f27c"}.fa-html5:before{content:"\f13b"}.fa-hubspot:before{content:"\f3b2"}.fa-i-cursor:before{content:"\f246"}.fa-id-badge:before{content:"\f2c1"}.fa-id-card:before{content:"\f2c2"}.fa-image:before{content:"\f03e"}.fa-images:before{content:"\f302"}.fa-imdb:before{content:"\f2d8"}.fa-inbox:before{content:"\f01c"}.fa-indent:before{content:"\f03c"}.fa-industry:before{content:"\f275"}.fa-info:before{content:"\f129"}.fa-info-circle:before{content:"\f05a"}.fa-instagram:before{content:"\f16d"}.fa-internet-explorer:before{content:"\f26b"}.fa-ioxhost:before{content:"\f208"}.fa-italic:before{content:"\f033"}.fa-itunes:before{content:"\f3b4"}.fa-itunes-note:before{content:"\f3b5"}.fa-jenkins:before{content:"\f3b6"}.fa-joget:before{content:"\f3b7"}.fa-joomla:before{content:"\f1aa"}.fa-js:before{content:"\f3b8"}.fa-js-square:before{content:"\f3b9"}.fa-jsfiddle:before{content:"\f1cc"}.fa-key:before{content:"\f084"}.fa-keyboard:before{content:"\f11c"}.fa-keycdn:before{content:"\f3ba"}.fa-kickstarter:before{content:"\f3bb"}.fa-kickstarter-k:before{content:"\f3bc"}.fa-korvue:before{content:"\f42f"}.fa-language:before{content:"\f1ab"}.fa-laptop:before{content:"\f109"}.fa-laravel:before{content:"\f3bd"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-leaf:before{content:"\f06c"}.fa-leanpub:before{content:"\f212"}.fa-lemon:before{content:"\f094"}.fa-less:before{content:"\f41d"}.fa-level-down-alt:before{content:"\f3be"}.fa-level-up-alt:before{content:"\f3bf"}.fa-life-ring:before{content:"\f1cd"}.fa-lightbulb:before{content:"\f0eb"}.fa-line:before{content:"\f3c0"}.fa-link:before{content:"\f0c1"}.fa-linkedin:before{content:"\f08c"}.fa-linkedin-in:before{content:"\f0e1"}.fa-linode:before{content:"\f2b8"}.fa-linux:before{content:"\f17c"}.fa-lira-sign:before{content:"\f195"}.fa-list:before{content:"\f03a"}.fa-list-alt:before{content:"\f022"}.fa-list-ol:before{content:"\f0cb"}.fa-list-ul:before{content:"\f0ca"}.fa-location-arrow:before{content:"\f124"}.fa-lock:before{content:"\f023"}.fa-lock-open:before{content:"\f3c1"}.fa-long-arrow-alt-down:before{content:"\f309"}.fa-long-arrow-alt-left:before{content:"\f30a"}.fa-long-arrow-alt-right:before{content:"\f30b"}.fa-long-arrow-alt-up:before{content:"\f30c"}.fa-low-vision:before{content:"\f2a8"}.fa-lyft:before{content:"\f3c3"}.fa-magento:before{content:"\f3c4"}.fa-magic:before{content:"\f0d0"}.fa-magnet:before{content:"\f076"}.fa-male:before{content:"\f183"}.fa-map:before{content:"\f279"}.fa-map-marker:before{content:"\f041"}.fa-map-marker-alt:before{content:"\f3c5"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-mars:before{content:"\f222"}.fa-mars-double:before{content:"\f227"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-maxcdn:before{content:"\f136"}.fa-medapps:before{content:"\f3c6"}.fa-medium:before{content:"\f23a"}.fa-medium-m:before{content:"\f3c7"}.fa-medkit:before{content:"\f0fa"}.fa-medrt:before{content:"\f3c8"}.fa-meetup:before{content:"\f2e0"}.fa-meh:before{content:"\f11a"}.fa-mercury:before{content:"\f223"}.fa-microchip:before{content:"\f2db"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-microsoft:before{content:"\f3ca"}.fa-minus:before{content:"\f068"}.fa-minus-circle:before{content:"\f056"}.fa-minus-square:before{content:"\f146"}.fa-mix:before{content:"\f3cb"}.fa-mixcloud:before{content:"\f289"}.fa-mizuni:before{content:"\f3cc"}.fa-mobile:before{content:"\f10b"}.fa-mobile-alt:before{content:"\f3cd"}.fa-modx:before{content:"\f285"}.fa-monero:before{content:"\f3d0"}.fa-money-bill-alt:before{content:"\f3d1"}.fa-moon:before{content:"\f186"}.fa-motorcycle:before{content:"\f21c"}.fa-mouse-pointer:before{content:"\f245"}.fa-music:before{content:"\f001"}.fa-napster:before{content:"\f3d2"}.fa-neuter:before{content:"\f22c"}.fa-newspaper:before{content:"\f1ea"}.fa-nintendo-switch:before{content:"\f418"}.fa-node:before{content:"\f419"}.fa-node-js:before{content:"\f3d3"}.fa-npm:before{content:"\f3d4"}.fa-ns8:before{content:"\f3d5"}.fa-nutritionix:before{content:"\f3d6"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-opencart:before{content:"\f23d"}.fa-openid:before{content:"\f19b"}.fa-opera:before{content:"\f26a"}.fa-optin-monster:before{content:"\f23c"}.fa-osi:before{content:"\f41a"}.fa-outdent:before{content:"\f03b"}.fa-page4:before{content:"\f3d7"}.fa-pagelines:before{content:"\f18c"}.fa-paint-brush:before{content:"\f1fc"}.fa-palfed:before{content:"\f3d8"}.fa-pallet:before{content:"\f482"}.fa-paper-plane:before{content:"\f1d8"}.fa-paperclip:before{content:"\f0c6"}.fa-paragraph:before{content:"\f1dd"}.fa-paste:before{content:"\f0ea"}.fa-patreon:before{content:"\f3d9"}.fa-pause:before{content:"\f04c"}.fa-pause-circle:before{content:"\f28b"}.fa-paw:before{content:"\f1b0"}.fa-paypal:before{content:"\f1ed"}.fa-pen-square:before{content:"\f14b"}.fa-pencil-alt:before{content:"\f303"}.fa-percent:before{content:"\f295"}.fa-periscope:before{content:"\f3da"}.fa-phabricator:before{content:"\f3db"}.fa-phoenix-framework:before{content:"\f3dc"}.fa-phone:before{content:"\f095"}.fa-phone-square:before{content:"\f098"}.fa-phone-volume:before{content:"\f2a0"}.fa-php:before{content:"\f457"}.fa-pied-piper:before{content:"\f2ae"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pills:before{content:"\f484"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-p:before{content:"\f231"}.fa-pinterest-square:before{content:"\f0d3"}.fa-plane:before{content:"\f072"}.fa-play:before{content:"\f04b"}.fa-play-circle:before{content:"\f144"}.fa-playstation:before{content:"\f3df"}.fa-plug:before{content:"\f1e6"}.fa-plus:before{content:"\f067"}.fa-plus-circle:before{content:"\f055"}.fa-plus-square:before{content:"\f0fe"}.fa-podcast:before{content:"\f2ce"}.fa-pound-sign:before{content:"\f154"}.fa-power-off:before{content:"\f011"}.fa-print:before{content:"\f02f"}.fa-product-hunt:before{content:"\f288"}.fa-pushed:before{content:"\f3e1"}.fa-puzzle-piece:before{content:"\f12e"}.fa-python:before{content:"\f3e2"}.fa-qq:before{content:"\f1d6"}.fa-qrcode:before{content:"\f029"}.fa-question:before{content:"\f128"}.fa-question-circle:before{content:"\f059"}.fa-quidditch:before{content:"\f458"}.fa-quinscape:before{content:"\f459"}.fa-quora:before{content:"\f2c4"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-random:before{content:"\f074"}.fa-ravelry:before{content:"\f2d9"}.fa-react:before{content:"\f41b"}.fa-rebel:before{content:"\f1d0"}.fa-recycle:before{content:"\f1b8"}.fa-red-river:before{content:"\f3e3"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-alien:before{content:"\f281"}.fa-reddit-square:before{content:"\f1a2"}.fa-redo:before{content:"\f01e"}.fa-redo-alt:before{content:"\f2f9"}.fa-registered:before{content:"\f25d"}.fa-rendact:before{content:"\f3e4"}.fa-renren:before{content:"\f18b"}.fa-reply:before{content:"\f3e5"}.fa-reply-all:before{content:"\f122"}.fa-replyd:before{content:"\f3e6"}.fa-resolving:before{content:"\f3e7"}.fa-retweet:before{content:"\f079"}.fa-road:before{content:"\f018"}.fa-rocket:before{content:"\f135"}.fa-rocketchat:before{content:"\f3e8"}.fa-rockrms:before{content:"\f3e9"}.fa-rss:before{content:"\f09e"}.fa-rss-square:before{content:"\f143"}.fa-ruble-sign:before{content:"\f158"}.fa-rupee-sign:before{content:"\f156"}.fa-safari:before{content:"\f267"}.fa-sass:before{content:"\f41e"}.fa-save:before{content:"\f0c7"}.fa-schlix:before{content:"\f3ea"}.fa-scribd:before{content:"\f28a"}.fa-search:before{content:"\f002"}.fa-search-minus:before{content:"\f010"}.fa-search-plus:before{content:"\f00e"}.fa-searchengin:before{content:"\f3eb"}.fa-sellcast:before{content:"\f2da"}.fa-sellsy:before{content:"\f213"}.fa-server:before{content:"\f233"}.fa-servicestack:before{content:"\f3ec"}.fa-share:before{content:"\f064"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-share-square:before{content:"\f14d"}.fa-shekel-sign:before{content:"\f20b"}.fa-shield-alt:before{content:"\f3ed"}.fa-ship:before{content:"\f21a"}.fa-shipping-fast:before{content:"\f48b"}.fa-shirtsinbulk:before{content:"\f214"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-shopping-cart:before{content:"\f07a"}.fa-shower:before{content:"\f2cc"}.fa-sign-in-alt:before{content:"\f2f6"}.fa-sign-language:before{content:"\f2a7"}.fa-sign-out-alt:before{content:"\f2f5"}.fa-signal:before{content:"\f012"}.fa-simplybuilt:before{content:"\f215"}.fa-sistrix:before{content:"\f3ee"}.fa-sitemap:before{content:"\f0e8"}.fa-skyatlas:before{content:"\f216"}.fa-skype:before{content:"\f17e"}.fa-slack:before{content:"\f198"}.fa-slack-hash:before{content:"\f3ef"}.fa-sliders-h:before{content:"\f1de"}.fa-slideshare:before{content:"\f1e7"}.fa-smile:before{content:"\f118"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-snowflake:before{content:"\f2dc"}.fa-sort:before{content:"\f0dc"}.fa-sort-alpha-down:before{content:"\f15d"}.fa-sort-alpha-up:before{content:"\f15e"}.fa-sort-amount-down:before{content:"\f160"}.fa-sort-amount-up:before{content:"\f161"}.fa-sort-down:before{content:"\f0dd"}.fa-sort-numeric-down:before{content:"\f162"}.fa-sort-numeric-up:before{content:"\f163"}.fa-sort-up:before{content:"\f0de"}.fa-soundcloud:before{content:"\f1be"}.fa-space-shuttle:before{content:"\f197"}.fa-speakap:before{content:"\f3f3"}.fa-spinner:before{content:"\f110"}.fa-spotify:before{content:"\f1bc"}.fa-square:before{content:"\f0c8"}.fa-square-full:before{content:"\f45c"}.fa-stack-exchange:before{content:"\f18d"}.fa-stack-overflow:before{content:"\f16c"}.fa-star:before{content:"\f005"}.fa-star-half:before{content:"\f089"}.fa-staylinked:before{content:"\f3f5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-steam-symbol:before{content:"\f3f6"}.fa-step-backward:before{content:"\f048"}.fa-step-forward:before{content:"\f051"}.fa-stethoscope:before{content:"\f0f1"}.fa-sticker-mule:before{content:"\f3f7"}.fa-sticky-note:before{content:"\f249"}.fa-stop:before{content:"\f04d"}.fa-stop-circle:before{content:"\f28d"}.fa-stopwatch:before{content:"\f2f2"}.fa-strava:before{content:"\f428"}.fa-street-view:before{content:"\f21d"}.fa-strikethrough:before{content:"\f0cc"}.fa-stripe:before{content:"\f429"}.fa-stripe-s:before{content:"\f42a"}.fa-studiovinari:before{content:"\f3f8"}.fa-stumbleupon:before{content:"\f1a4"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-subscript:before{content:"\f12c"}.fa-subway:before{content:"\f239"}.fa-suitcase:before{content:"\f0f2"}.fa-sun:before{content:"\f185"}.fa-superpowers:before{content:"\f2dd"}.fa-superscript:before{content:"\f12b"}.fa-supple:before{content:"\f3f9"}.fa-sync:before{content:"\f021"}.fa-sync-alt:before{content:"\f2f1"}.fa-syringe:before{content:"\f48e"}.fa-table:before{content:"\f0ce"}.fa-table-tennis:before{content:"\f45d"}.fa-tablet:before{content:"\f10a"}.fa-tablet-alt:before{content:"\f3fa"}.fa-tachometer-alt:before{content:"\f3fd"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-tasks:before{content:"\f0ae"}.fa-taxi:before{content:"\f1ba"}.fa-telegram:before{content:"\f2c6"}.fa-telegram-plane:before{content:"\f3fe"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-terminal:before{content:"\f120"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-th:before{content:"\f00a"}.fa-th-large:before{content:"\f009"}.fa-th-list:before{content:"\f00b"}.fa-themeisle:before{content:"\f2b2"}.fa-thermometer:before{content:"\f491"}.fa-thermometer-empty:before{content:"\f2cb"}.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thumbs-down:before{content:"\f165"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbtack:before{content:"\f08d"}.fa-ticket-alt:before{content:"\f3ff"}.fa-times:before{content:"\f00d"}.fa-times-circle:before{content:"\f057"}.fa-tint:before{content:"\f043"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-trademark:before{content:"\f25c"}.fa-train:before{content:"\f238"}.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-trash:before{content:"\f1f8"}.fa-trash-alt:before{content:"\f2ed"}.fa-tree:before{content:"\f1bb"}.fa-trello:before{content:"\f181"}.fa-tripadvisor:before{content:"\f262"}.fa-trophy:before{content:"\f091"}.fa-truck:before{content:"\f0d1"}.fa-tty:before{content:"\f1e4"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-tv:before{content:"\f26c"}.fa-twitch:before{content:"\f1e8"}.fa-twitter:before{content:"\f099"}.fa-twitter-square:before{content:"\f081"}.fa-typo3:before{content:"\f42b"}.fa-uber:before{content:"\f402"}.fa-uikit:before{content:"\f403"}.fa-umbrella:before{content:"\f0e9"}.fa-underline:before{content:"\f0cd"}.fa-undo:before{content:"\f0e2"}.fa-undo-alt:before{content:"\f2ea"}.fa-uniregistry:before{content:"\f404"}.fa-universal-access:before{content:"\f29a"}.fa-university:before{content:"\f19c"}.fa-unlink:before{content:"\f127"}.fa-unlock:before{content:"\f09c"}.fa-unlock-alt:before{content:"\f13e"}.fa-untappd:before{content:"\f405"}.fa-upload:before{content:"\f093"}.fa-usb:before{content:"\f287"}.fa-user:before{content:"\f007"}.fa-user-circle:before{content:"\f2bd"}.fa-user-md:before{content:"\f0f0"}.fa-user-plus:before{content:"\f234"}.fa-user-secret:before{content:"\f21b"}.fa-user-times:before{content:"\f235"}.fa-users:before{content:"\f0c0"}.fa-ussunnah:before{content:"\f407"}.fa-utensil-spoon:before{content:"\f2e5"}.fa-utensils:before{content:"\f2e7"}.fa-vaadin:before{content:"\f408"}.fa-venus:before{content:"\f221"}.fa-venus-double:before{content:"\f226"}.fa-venus-mars:before{content:"\f228"}.fa-viacoin:before{content:"\f237"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-viber:before{content:"\f409"}.fa-video:before{content:"\f03d"}.fa-vimeo:before{content:"\f40a"}.fa-vimeo-square:before{content:"\f194"}.fa-vimeo-v:before{content:"\f27d"}.fa-vine:before{content:"\f1ca"}.fa-vk:before{content:"\f189"}.fa-vnv:before{content:"\f40b"}.fa-volleyball-ball:before{content:"\f45f"}.fa-volume-down:before{content:"\f027"}.fa-volume-off:before{content:"\f026"}.fa-volume-up:before{content:"\f028"}.fa-vuejs:before{content:"\f41f"}.fa-warehouse:before{content:"\f494"}.fa-weibo:before{content:"\f18a"}.fa-weight:before{content:"\f496"}.fa-weixin:before{content:"\f1d7"}.fa-whatsapp:before{content:"\f232"}.fa-whatsapp-square:before{content:"\f40c"}.fa-wheelchair:before{content:"\f193"}.fa-whmcs:before{content:"\f40d"}.fa-wifi:before{content:"\f1eb"}.fa-wikipedia-w:before{content:"\f266"}.fa-window-close:before{content:"\f410"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-windows:before{content:"\f17a"}.fa-won-sign:before{content:"\f159"}.fa-wordpress:before{content:"\f19a"}.fa-wordpress-simple:before{content:"\f411"}.fa-wpbeginner:before{content:"\f297"}.fa-wpexplorer:before{content:"\f2de"}.fa-wpforms:before{content:"\f298"}.fa-wrench:before{content:"\f0ad"}.fa-xbox:before{content:"\f412"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-y-combinator:before{content:"\f23b"}.fa-yahoo:before{content:"\f19e"}.fa-yandex:before{content:"\f413"}.fa-yandex-international:before{content:"\f414"}.fa-yelp:before{content:"\f1e9"}.fa-yen-sign:before{content:"\f157"}.fa-yoast:before{content:"\f2b1"}.fa-youtube:before{content:"\f167"}.fa-youtube-square:before{content:"\f431"}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}@font-face{font-family:Font Awesome\ 5 Brands;font-style:normal;font-weight:400;src:url(assets/fonts/fa-brands-400.eot);src:url(assets/fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(assets/fonts/fa-brands-400.woff2) format("woff2"),url(assets/fonts/fa-brands-400.woff) format("woff"),url(assets/fonts/fa-brands-400.ttf) format("truetype"),url(assets/fonts/fa-brands-400.svg#fontawesome) format("svg")}.fab{font-family:Font Awesome\ 5 Brands}@font-face{font-family:FontAwesome;font-style:normal;font-weight:400;src:url(assets/fonts/fa-regular-400.eot);src:url(assets/fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(assets/fonts/fa-regular-400.woff2) format("woff2"),url(assets/fonts/fa-regular-400.woff) format("woff"),url(assets/fonts/fa-regular-400.ttf) format("truetype"),url(assets/fonts/fa-regular-400.svg#fontawesome) format("svg")}.far{font-weight:400}@font-face{font-family:FontAwesome;font-style:normal;font-weight:900;src:url(assets/fonts/fa-solid-900.eot);src:url(assets/fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(assets/fonts/fa-solid-900.woff2) format("woff2"),url(assets/fonts/fa-solid-900.woff) format("woff"),url(assets/fonts/fa-solid-900.ttf) format("truetype"),url(assets/fonts/fa-solid-900.svg#fontawesome) format("svg")}.fa,.far,.fas{font-family:FontAwesome}.fa,.fas{font-weight:900}

@media screen
  and (min-width: 1px)
  and (max-width: 1199px) {
	.wrapper{width:95%;}

	.mobilemenu{display:block;height:60px;position:fixed;top:0;z-index:99999;width:90%;padding:0 5%;background:#03405F;box-shadow:0 0 10px rgba(0,0,0,.5);}
	.mobilemenu .wrapper{background:none;}
	.mobilelogo{line-height:60px;color:#fff;font-weight:400;letter-spacing:0px;}
	.mobilelogo img{float:right;margin:10px 0;width:auto;height:40px;}
	.mobiledo{float:left;color:#C57FF7;line-height:60px;font-size:20px;cursor:pointer;}
	.mobilewrap.active{display:block;top:60px;transition:ease all .3s;z-index:-9998;}
	.mobilewrap{background:#03405F;position:absolute;width:100%;height:auto;right:0%;top:-100vh;z-index:-9998;transition:ease all .3s;border-radius:0;box-shadow:0 3px 3px rgba(0,0,0,.1);}
	.mobilewrap ul{padding:30px 30px 20px;}
	.mobilenav li{padding:5px 10px;border-radius:0px;font-size:14px;font-weight:400;margin-bottom:5px;}
	.mobilenav li a{color:#fff;}
	.doclose{width:100%;height:40px;color:#ccc;bottom:0;right:0;text-align:center;font-size:15px;margin:0 0 20px;display:block;cursor:pointer;}
	.mobilemenu .icon-menu{height:60px;width:60px;display:block;float:left;color:#fff;line-height:60px;text-align:left;}

	.sticky{display:none;}
	.stickyend{display:none;}

	.bar{display:none;}
	.header{display:none;}
	.header .menu{display:none;}
	.header .logo{display:none;}
	.slider{margin-top:60px;}

	.company .list div.item:nth-child(6){margin-left:7px;}
	.company .list div.item:nth-child(12){margin-left:7px;}
	.company .list div.item:nth-child(18){margin-left:7px;}
	.company .list div.item:nth-child(24){margin-left:7px;}
	.company .list div.item:nth-child(30){margin-left:7px;}

	.about{text-align:center;}
	.about img{float:none;display:inline-block;}
	.about p{display:block;width:100%;margin:10px 0;}
	.about a{float:right;display:block;margin:10px 25% 0;width:50%}

	.footer .box{float:right;margin:10px 0;}
	.copyright{padding-bottom:20px;}
	.copyright .farsi{width:100%;text-align:center;padding:20px 0;}
	.copyright .en{width:100%;text-align:center;}

	.partner{padding-bottom:60px;}
	.partner .owl-theme .owl-nav{position:absolute;top:90%;width:100%;}
	.partner .owl-nav .owl-prev{margin-right:-0px;float:none;background:#fff;color:#333;}
	.partner .owl-nav .owl-next{margin-left:-0px;float:none;background:#fff;color:#333;}

	.indexsearch select{display:block;width:calc(100% - 20px);margin:0 auto 10px;}
	.indexsearch input[type=submit]{display:block;width:calc(100% - 20px);margin:10px auto 0px;}
	.indexsearch li{margin:10px;}
	.pagetitle a.more{width:50px;position:relative;overflow:hidden;}
	.pagetitle a.more i{position:absolute;left:10px;top:10px;}
	.products  .owl-nav .owl-prev{margin-right:-0px;}
	.products  .owl-nav .owl-next{margin-left:-0px;}

	.projects .post{width:100%;margin:10px 0;}
	.blog .big{width:96%;margin:0 2% 20px;}
	.blog .small{width:100%;}
	.category ul{width:100%;margin:0;}
	.category li{width:90%;padding:0px 5%;}
	.category li.active{height:auto;}

	.breadcrumbs{line-height:20px;padding:20px 0;}
	.bigtitle{text-align:center;}
	.bigtitle .text{width:calc(100% - 20px);margin:0 auto;display:inline-block;text-align:justify;float:none;}
	.bigtitle img{float:none;margin:10px auto 0;}

	.sidebar{width:100%;}
	.sidebar .widget{width:auto;}
	.single{width:auto;}

	.project .text{width:100%;}
	.project h1{font-size:17px;}
	.project .pic{width:100%;margin-top:20px;}

	.cotitle .pic{margin:0 auto;float:none;}
	.cotitle .text{width:100%;}
	.cotitle .text .right{width:100%;padding-top:20px;}
	.cotitle .text .left{width:100%;}
	.cotitle .button.small{width:auto;display:block;margin-left:0;}

	.toptabs{text-align:center;}
	.toptabs ul{padding:10px 0;}
	.toptabs li{float:none;display:inline-block;border:1px solid #040B0E;margin:5px;width:100px;border-radius:5px;}
	.toptabs li:last-child{border-left:1px solid #040B0E;}
	.toptext .text.right{width: auto;margin-left: 0;display: block;float: none;}
	.toptext .text.left{width: auto;margin-left: 0;display: block;float: none;margin-top:20px;}
	.brandtabs li:last-child{border-left:0;}
	.textabs ul{text-align:center;padding:15px 0;}
	.coitems ul{text-align:center;display:block;white-space:auto;width:100%;}
	.coitems li{float:none;display:block;width:100%;padding:0;border-bottom:1px solid #73776E;}
	.coitems li:last-child{border-bottom:0;}
	.coitems .products .list .item{float:none;}

	.product .prtitle{height:170px;}
	.product .prtext.right{top:70px;width:100%;text-align:center;}
	.product .prtext.left{top:120px;width:100%;text-align:center;}
	.product .pr-right{width:100%;}
	.product .pr-left{width:100%;padding:30px 0 0;}
	.product .box span{display:block;}
	.product .box li{width:100%;}

}
